# <center> Homework 1 (Topics 1-4: Data Structures, Indexing, Cleaning Data, Math)

In [1]:
import pandas as pd
import numpy as np

#### Task 1. 
Задание:
1. Создайте Series из последовательности 15 значений, равномерно разбивающих отрезок [0, 20]. 
2. Определите отношение элементов полученной серии к их предыдущим элементам (\*). 
3. В результате необходимо получить среднее полученного вектора, оставив в нём только те значения, которые не более чем 1.5 (\**). 

Выберите из ответов тот, который максимально близок к полученному (c точки зрения абсолютной разницы).

#### Варианты ответов:
    - 1) 1.24
    + 2) 1.18
    - 3) 0.71
    - 4) 1.13


##### Пояснения:
(\*) Если было бы необходимо найти последовательность из 3-х значений,  
равномерно разбивающих отрезок [0,1], то это были бы значения [0, 0.5, 1]. 

(\**) Если был бы дан список элементов a = [1,2,3,12], отношения элементов к предыдущим будут равны [NaN, 2, 1.5, 4].  
А на последнем этапе в таком примере останется только [1.5] и среднее значение будет также 1.5.

In [2]:
### Type your code here
ser_1 = pd.Series (np.linspace (0, 20, 15))
#print (ser_1)
ser_2 = (pd.Series (ser_1.real [1:]) / ser_1)
#print (ser_2)
print (ser_2[(ser_2 <= 1.5)].mean())

1.181677812927813

#### Task 2. 
Выберите все верные ответы касательно следующих 3-х Series:
    - pd.Series('abcde'); (1) 
    - pd.Series(['abcde']); (2) 
    - pd.Series(list('abcde')); (3)
    - pd.Series("abcde"); (4)

#### Вопросы:
    + 1) Серия (1) совпадает с серией (2), так как в каждом из случаев серия создаётся из списка строк 
    - 2) Серия (2) совпадает с серией (3), так как в каждом из случаев серия создаётся из списка символов 
    - 3) Серия (1) не совпадает с серией (4), так как в (4) используются двойные кавычки "" вместо одинарных ''

In [3]:
ser1 = pd.Series('abcde')
print (ser1)
ser2 = pd.Series(['abcde'])
print (ser2)
ser3 = pd.Series(list('abcde'))
print (ser3)
ser4 = pd.Series("abcde")
print (ser4)

0    abcde
dtype: object
0    abcde
dtype: object
0    a
1    b
2    c
3    d
4    e
dtype: object
0    abcde
dtype: object

#### Task 3. 
Для заданного ниже объекта s типа Series проделайте следующее:
1. Создайте новый Series, значения которого совпадают со значениями s, а индексы - целочисленные значения от 2 до 12. 
2. Выберите из s элементы с индексами 3 и 5, после чего просуммируйте их, сохранив результат (1). 
3. Выберите из s только целочисленные элементы и вычислите их дисперсию (2). (\*)

Все полученные результаты округлите до 2-х знаков после запятой.

#### Выберите все верные пункты:
    - 1) Ответ (1) - 642.52
    - 2) Ответ (1) - 91.78
    + 3) Ответ (1) - не может быть определён
    + 4) Ответ (2) - 57591.19
    - 5) Ответ (2) - 210.12
    - 6) Ответ (2) - не может быть определён

##### Пояснения:
(\*) Целочисленные значения - значения, имеющие тип int.

In [4]:
s = pd.Series(data=['1', 2, 3.1, 'hi!', 5, -512, 12.42, 'sber', 10.10, 98], 
              index=range(6, 26, 2))
a = pd.Series (s.real, index=range(2, 12))
print (s.iloc[[3, 5]])
b=[]
for x in s:
    if (type (x) is int):
        b.append(x)
print (np.var(b))
#s [lambda x: x.real]
#print (b)
#print (type(s.real) is int)

12     hi!
16    -512
dtype: object
57591.1875

#### Task 4. 
1. Сгенерируйте Series из 100 значений нормально распределённой СВ (np.random.normal с дефолтными параметрами - нулевым средним и единичной дисперсией).
2. Возведите каждое значение серии в 3 степень, а значения индекса увеличьте в 3 раза. 
3. Ответьте на следующие вопросы через запятую (без пробелов) (\*)
    - 1) Выведите сумму элементов, строго меньших 2.6, имеющих нечётные значения индекса.
    - 2) Выведите количество значений серии меньше нуля. 

#### Пояснения:
(\*) Если получились ответы 3, 4.32, то в форму необходимо внести их в виде "3,4.32". То есть вещественные числа необходимо разделять точками. Не забудьте про фиксированный seed (его менять не нужно)!
сумму элементов, строго меньших 2.6:  0   -15.150748
dtype: float64
количество значений серии меньше нуля:  0    51

In [52]:
np.random.seed(242)
s = pd.Series (np.random.normal(size = 100))
#print (s.head())
s**=3
#print (s.head())
s1 = s.reset_index()
s1['index'] *= 3
#print (s1.head())
del (s)
s = s1.set_index(['index'])
del (s1)
#print (s.head())
b = []
for x in s.index:
    if x%2 != 0 :
        b.append(x)
#print (b)
#print (s.loc[b])
#x = s.loc[b] < 2.6
#print (s[x].sum())
#print (s < 0)
print ("сумму элементов, строго меньших 2.6: ",s[s.loc[b] < 2.6].sum())
print ("количество значений серии меньше нуля: ",(s < 0).sum())

[0, 3, 9, 15, 21, 27, 33, 39, 45, 51, 57, 63, 69, 75, 81, 87, 93, 99, 105, 111, 117, 123, 129, 135, 141, 147, 153, 159, 165, 171, 177, 183, 189, 195, 201, 207, 213, 219, 225, 231, 237, 243, 249, 255, 261, 267, 273, 279, 285, 291, 297]
сумму элементов, строго меньших 2.6:  0   -15.196446
dtype: float64
количество значений серии меньше нуля:  0    51
dtype: int64

### Информация для последующих заданий
- Для всех последующих заданий будем использовать обезличенные транзакционные банковские данные. Для этого считайте в переменные tr_mcc_codes, tr_types, transactions и gender_train из одноимённых таблиц из папки data. Для таблицы transactions используйте только первые n=1000000 строк. Обратите внимание на разделители внутри каждого из файлов - они могут различаться!

In [6]:
### Type your code here
import numpy as np
import pandas as pd
import os

pd.options.display.max_rows = 10

tr_mcc_codes = pd.read_csv("../data/tr_mcc_codes.csv", sep=";", index_col="mcc_code")
print("**tr_mcc_codes","\n\r",tr_mcc_codes.head())

tr_types = pd.read_csv("../data/tr_types.csv", sep=";", index_col="tr_type")
print("\n\r**tr_types","\n\r",tr_types.head())

transactions = pd.read_csv("../data/transactions.csv", sep=",", nrows=1000000, index_col="customer_id")
print("\n\r**transactions","\n\r",transactions.head())

gender_train = pd.read_csv("../data/gender_train.csv", sep=",", index_col="customer_id")
print("\n\r**gender_train","\n\r",gender_train.head())

**tr_mcc_codes
                                             mcc_description
mcc_code
742                                     Ветеринарные услуги
1711      Генеральные подрядчики по вентиляции, теплосна...
1731                            Подрядчики по электричеству
1799      Подрядчики, специализированная торговля — нигд...
2741               Разнообразные издательства/печатное дело

**tr_types
                                             tr_description
tr_type
3200     Плата за предоставление услуг посредством моби...
3210     Плата за предоставление отчета по счету карты ...
3800     Плата за обслуживание банковской карты (за пер...
4000               Плата за получение наличных в Сбербанке
4001     Плата за получение наличных в Сбербанке (в дру...

**transactions
             tr_datetime  mcc_code  tr_type    amount term_id
customer_id
39026145     0 10:23:26      4814     1030  -2245.92     NaN
39026145     1 10:19:29      6011     7010  56147.89     NaN
39026145     1 10:20:56      4829     2330 -56147.89     NaN
39026145     1 10:39:54      5499     1010  -1392.47     NaN
39026145     2 15:33:42      5499     1010   -920.83     NaN

**gender_train
              gender
customer_id
10928546          1
69348468          1
61009479          0
74045822          0
27979606          1

#### Task 5.
1. В tr_types выберите произвольные 100 строк с помощью метода sample (указав при этом random_seed равный 242)
2. В полученной на предыдущем этапе подвыборке найдите долю наблюдений (стобец tr_description), в которой содержится подстрока 'плата' (в любом регистре). (\*)

Выведите ответ в виде вещественного числа, округлённого до двух знаков после запятой, отделив дробную часть точкой в формате "123.45"

##### Пояснения:
(\*) Строки "ПлатА за аренду", "ПлатАза аренду", "ПЛАТА" удовлетворяют условию, так как будучи переведёнными в нижний регистр содержат подстроку "плата".
Отвеит - 0.26

In [7]:
np.random.seed(242)
x = tr_types.sample(n=100)
x = x[x["tr_description"].str.lower().str.contains("плата", regex=False)]
#x = tr_types.sample(n=100)["tr_description"].str.lower().str.contains("плата", regex=False)
#print (x["tr_description"].str.find("Плата"))
print(x.count()/100)
print ("количество \"плата\"-",x.count()[0])

tr_description    0.26
dtype: float64
количество "плата"- 26

## Описание данных
### Таблица ```transactions.csv```
##### Описание
Таблица содержит историю транзакций клиентов банка за один год и три месяца.

##### Формат данных

```
customer_id,tr_datetime,mcc_code,tr_type,amount,term_id
111111,15 01:40:52,1111,1000,-5224,111111
111112,15 15:18:32,3333,2000,-100,11122233
...
```
##### Описание полей

 - ```customer_id``` — идентификатор клиента;
 - ```tr_datetime``` — день и время совершения транзакции (дни нумеруются с начала данных);
 - ```mcc_code``` — mcc-код транзакции;
 - ```tr_type``` — тип транзакции;
 - ```amount``` — сумма транзакции в условных единицах со знаком; ```+``` — начисление средств клиенту (приходная транзакция), ```-``` — списание средств (расходная транзакция);
 - ```term_id``` — идентификатор терминала;


### Таблица ```gender_train.csv```

##### Описание
Данная таблица содержит информацию по полу для части клиентов, для которых он известен. Для остальных клиентов пол неизвестен.

##### Формат данных
```
customer_id,gender
111111,0
111112,1
...
```

##### Описание полей
 - ```customer_id``` — идентификатор клиента;
 - ```gender``` — пол клиента;

### Таблица ```tr_mcc_codes.csv```

##### Описание
Данная таблица содержит описание mcc-кодов транзакций.

##### Формат данных
```
mcc_code;mcc_description
1000;словесное описание mcc-кода 1000
2000;словесное описание mcc-кода 2000
...
```

##### Описание полей
 - ```mcc_code``` – mcc-код транзакции;
 - ```mcc_description``` — описание mcc-кода транзакции.

### Таблица ```tr_types.csv```

##### Описание
Данная таблица содержит описание типов транзакций.

##### Формат данных
```
tr_type;tr_description
1000;словесное описание типа транзакции 1000
2000;словесное описание типа транзакции 2000
...
```

##### Описание полей
 - ```tr_type``` – тип транзакции;
 - ```tr_description``` — описание типа транзакции;

#### Task 6. 
1. Для поля tr_type датафрейма transactions посчитайте частоту встречаемости всех типов транзакций tr_type в transactions.
2. Из перечисленных вариантов выберите те, которые попали в топ-5 транзакций по частоте встречаемости.

#### Выберите все верные пункты:
    + 1) Выдача наличных в АТМ Сбербанк России 
    - 2) Комиссия за обслуживание ссудного счета
    - 3) Списание по требованию	
    + 4) Оплата услуги. Банкоматы СБ РФ 
    - 5) Погашение кредита (в пределах одного филиала)
    + 6) Покупка. POS ТУ СБ РФ

In [8]:
x = transactions.groupby("tr_type")
group_size = x.size()
#group_size_sort = group_size.sort_values(ascending=False).head()
#print (tr_types.head())
#print (group_size_sort.head())
tr_types.loc[group_size.sort_values(ascending=False).head().index.tolist()]

                                            tr_description
tr_type
1010                                 Покупка. POS ТУ СБ РФ
2010                 Выдача наличных в АТМ Сбербанк России
7070     Перевод на карту (с карты) через Мобильный бан...
1110                                Покупка. POS ТУ Россия
1030                        Оплата услуги. Банкоматы СБ РФ

#### Task 7.
1. В датафрейме transactions задайте столбец  customer_id в качестве индекса.
2. Выделите клиента с максимальной суммой транзакции (то есть с максимальным приходом на карту). (\*)
3. Найдите у него наиболее часто встречающийся модуль суммы приходов/расходов. (\**)


#### Выберите все верные пункты:
    + 1) 1122957.89
    + 2) 15721.41
    + 3) 22459.16
    + 4) 13475494.63
    - 5) 107407.78
    - 6) 65019.26

##### Пояснения:
(\*) Если у клиента были транзакции [-10000, 10, 0, -10], то максимумом будет являться значение 10. <br>
(\**) Если у клиента были транзакции [-10000, 10, 0, -10], то наиболее встречающийся модуль суммы транзакций равен 10, и встретился он 2 раза.
Ответ 22459.16

In [54]:
print("\n\r**transactions","\n\r",transactions.head())
print ("максимальная транзакция-",transactions.amount.max(),"\n\r")
amount_maxusr = transactions.loc[transactions[transactions.amount == transactions.amount.max()].index.tolist()]
print ("ID клиента-",amount_maxusr)
x = amount_maxusr.amount.abs().map("{:.2f}".format)
x = x.groupby(x)
x.size().sort_values(ascending=False)

**transactions
             tr_datetime  mcc_code  tr_type    amount term_id
customer_id
39026145     0 10:23:26      4814     1030  -2245.92     NaN
39026145     1 10:19:29      6011     7010  56147.89     NaN
39026145     1 10:20:56      4829     2330 -56147.89     NaN
39026145     1 10:39:54      5499     1010  -1392.47     NaN
39026145     2 15:33:42      5499     1010   -920.83     NaN
максимальная транзакция- 145984525.17

ID клиента-               tr_datetime  mcc_code  tr_type     amount   term_id
customer_id
26782922       4 00:00:00      4812     1100  -31442.82       NaN
26782922       5 00:00:00      6300     1100  -11935.25       NaN
26782922       7 00:00:00      9399     1100  -11229.58       NaN
26782922       7 00:00:00      4814     1100  -67377.47       NaN
26782922       8 00:00:00      4900     1100 -129913.87       NaN
...                   ...       ...      ...        ...       ...
26782922     452 21:47:21      6010     7070  988202.94    888919
26782922     453 00:00:00      5995     1110  -80852.97  T0060960
26782922     454 21:45:02      4814     1030  -22459.16    888906
26782922     456 00:00:00      5411     1110  -10488.43  50127546
26782922     456 08:29:15      6010     7070  116787.62    888911

[294 rows x 5 columns]

amount
22459.16      25
15721.41      12
4491831.54     7
1122957.89     6
3368873.66     5
              ..
49298.08       1
48847.32       1
48754.56       1
45807.70       1
10013.19       1
Name: amount, Length: 216, dtype: int64

#### Task 8.
1. Найдите максимальную разницу между парой из следующих значений (\*):
    - Медиана суммы транзакций
    - Медиана суммы транзакций по тем строкам, которые ни в одном из своих столбцов не содержат пустые значения
    - Медиана суммы упорядоченного по столбцу amount датафрейма transactions, у которого удалены дублирующиеся по столбцам [mcc_code, tr_type] строки, причём при удалении соответстующих дублей остаются только последние из дублирующихся строк (keep='last')

Выведите ответ в виде вещественного числа, округлённого до двух знаков после запятой, отделив дробную часть точкой в формате "123.45"

##### Пояснения:
(\*) Для вычисления максимальной разницы между значениями списка можно использовать функцию np.ptp  
(\**) Если в результате получились значения [1,3,5], то макимальная разница между ними 4 == 5-1.

5614.79

5599.07

13583.3

ответ-7984.23

In [61]:
#print("\n\r**transactions","\n\r",transactions.head())
#print (transactions.count())
#transactions.to_csv("111.csv")

mediana_amount = transactions.amount.median()
print ("Медиана транзакций:", mediana_amount)
transactions_clear = transactions.dropna()
mediana2 = transactions_clear.amount.median()
print ("Медиана транзакций чистых:", mediana2)
mediana3 = transactions.drop_duplicates(["mcc_code", "tr_type"], keep="last").amount.median()
print ("Медиана 3:", mediana3)
#print (np.ptp([5614.79, 5596.6, 13583.3]))
np.ptp([mediana_amount, mediana2, mediana3])

Медиана транзакций: -5614.79
Медиана транзакций чистых: -5596.6
Медиана 3: -14575.99

8979.39